DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/golden_eggs_estates

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
